/* default styles for the page */
* {
    --primary-black: #000;
    --primary-white: #fff;
    --accent-gray: #797979;
    --accent-green-light: #00cc61;
    --accent-green-dark: #004050;
    --body-font-fam: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}
body {
    margin: 0px auto;
    font-family: var(--body-font-fam);
    inline-size: clamp( 11.25rem, 100%, 112.5rem );
    transition: right 0.5s;
    position: relative;
    right: 0;
}
body.sho {
    right: 21.875rem;
}
img.logo {
    inline-size: 5rem;
    block-size: 2.5rem;
}



/* styling the nav bar */
nav, main > div, section#mission-achievements,
section#team-members > h2, section#team-members > div#team-gallery,
section#team-members > div#careers, footer {
    max-inline-size: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-inline: auto;
    padding-block: 1.25rem;
    justify-content: space-between;
    align-items: center;
}
nav > span {
    display: none;
}
nav > div#menu-ctn {
    inline-size: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}
div#simple-links {
    display: flex;
    gap: 20px;
}
div#simple-links > a {
    text-decoration: none;
    text-transform: capitalize;
    color: var(--primary-black);
    font-weight: 400;
}
div#action-links {
    display: flex;
    gap: 10px;
}
div#action-links > a {
    padding: 0.3125rem 1.25rem;
    text-decoration: none;
    text-transform: capitalize;
    display: inline-block;
    border-radius: 10px;
}
div#action-links > a:nth-child(1) {
    color: var(--primary-black);
    border: 1px solid var(--accent-gray);
}
div#action-links > a:nth-child(2) {
    color: var(--primary-white);
    background-color: var(--accent-green-dark);
}



/* styling the hero section */
main > div {
    margin-inline: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    margin-block: 3.125rem;
}
main > div > h1 {
    font-size: clamp( 1rem, calc( 2.7vw + 1rem), 3rem );
    font-weight: 600;
}
main > div > p {
    line-height: 1.8;
}
main > div > h1, main > div > p {
    margin: 0rem;
    inline-size: 40%;
}
main > div > h1 > span {
    color: var(--accent-gray);
}
main > img {
    inline-size: 100%;
    block-size: auto;
}



/* styling the mission/achievements section */
section#mission-achievements {
    padding-block: 6.25rem;
}
section#mission-achievements > div#mission,
section#mission-achievements > div#achievements {
    border-block-start: 2px solid var(--accent-gray);
    display: flex;  
    align-items: flex-start;
    padding-block: 5.625rem;
    justify-content: space-between;
}
section#mission-achievements > div#mission > h2 {
    font-size: clamp( 1rem, calc( 2.7vw + 1rem), 3rem );
    font-weight: 600;
    inline-size: 30%;
    margin: 0px;
}
section#mission-achievements > div#mission > div {
    inline-size: 40%;
}
section#mission-achievements > div#mission > div > p:nth-child(1) {
    font-weight: 600;
}
section#mission-achievements > div#achievements > div {
    display: flex;
    flex-direction: column;
    gap: 30px;
    inline-size: 28%;
}
section#mission-achievements > div#achievements > div > span:nth-child(2) {
    font-size: clamp( 1rem, calc( 2.7vw + 1rem), 3rem );
    font-weight: 600;
}



/* styling the team-members section */
section#team-members {
    background-color: #f3f3f3;
    padding-block: 12.5rem;
}
section#team-members > h2 {
    font-size: clamp( 1rem, calc( 2.7vw + 1rem), 3rem );
    font-weight: 600;
}
section#team-members > div#team-gallery {
    padding-block: 1.875rem 12.5rem;
    border-block-start: 2px solid var(--accent-gray);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
}
section#team-members > div#team-gallery > div {
    inline-size: 30%;
}
section#team-members > div#team-gallery > div > img {
    inline-size: 100%;
    block-size: 18.75rem;
    object-fit: cover;
    margin-block-end: 1.25rem;
}
section#team-members > div#team-gallery > div > div {
    display: flex;
    flex-direction: column;
}
div#team-gallery > div > div > span {
    text-transform: capitalize;
}
div#team-gallery > div > div > span:nth-child(1) {
    font-weight: 700;
    font-size: 1.125rem;
    text-transform: capitalize;
}
section#team-members > div#careers {
    display: flex;
    align-items: flex-start;
    border-block-start: 2px solid var(--accent-gray);
    padding-block: 3.75rem;
}
section#team-members > div#careers > h3 {
    font-size: clamp( 1rem, calc( 2.7vw + 1rem), 3rem );
    font-weight: 600;
    text-transform: capitalize;
    inline-size: 40%;
    margin: 0rem;
}
section#team-members > div#careers > div {
    inline-size: 50%;
}
section#team-members > div#careers > div > a {
    color: var(--primary-black);
}



/* styling the footer */
footer > div {
    display: flex;
    gap: 1.25rem;
}
footer > div > * {
    text-transform: capitalize;
    text-decoration: none;
    color: var(--primary-black);
}



/* styling the offcanvas */
div#offcanvas {
    position: fixed;
    block-size: 100vh;
    inline-size: 0rem;
    background-color: var(--primary-white);
    z-index: 1;
    top: 0;
    right: 0;
    overflow: hidden;
    transition: 0.5s;
}
div#offcanvas.show {
    inline-size: 21.875rem;
}
div#offcanvas > div {
    block-size: 100%;
    inline-size: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 1.875rem;
}
div#offcanvas > div > span {
    align-self: flex-end;
}
div#offcanvas > div > div {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}
div#offcanvas > div > div > a {
    text-transform: capitalize;
    text-decoration: none;
    color: var(--primary-black);
    font-size: 1.25rem;
}
div#offcanvas > div > div > div {
    margin-block-start: 1.875rem;
}




/* adding responsiveness to the page */


/* for tablet devices */
@media screen and ( max-width: 75rem ) {
    /* 
        changing the font scale in order to 
        ensure proper hierachy and scale in text
     */
    :root {
        font-size: 14px;
    }

    /* re-spacing the navbar */
    nav > div#menu-ctn {
        inline-size: 87%;
    }


    /* re-spacing the hero / main */
    main > div > h1, main > div > p {
        margin: 0px;
        inline-size: 45%;
    }


    /* re-spaing the mission, achievements and the team-member gallery */
    section#mission-achievements,
    section#team-members {
        padding-block: 3.125rem;
    }
    section#team-members > div#team-gallery {
        padding-block: 1.875rem 6.25rem;
        border-block-start: 2px solid var(--accent-gray);
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 30px;
    }
    section#team-members > div#careers {
        padding-block: 3.75rem 1.875rem;
    }
}


/* for small-tablets */
@media screen and ( max-width: 50rem ) {
    /* 
        changing the font scale in order to 
        ensure proper hierachy and scale in text
     */
    :root {
        font-size: 16px;
    }

    /* restyling the navbar for mobile */
    nav, main > div, section#mission-achievements,
    section#team-members > h2, section#team-members > div#team-gallery,
    section#team-members > div#careers, footer {
        max-inline-size: 90%;
    }
    nav > span {
        display: initial;
        font-size: 1.875rem;
    }
    nav > div#menu-ctn {
        display: none;
    }


    /* re-styling the hero section */
    main > div {
        gap: 20px;
    }
    main > div > h1, main > div > p {
        inline-size: 100%;
    }


    /* re-styling the mission/achievements section */
    section#mission-achievements > div#mission,
    section#mission-achievements > div#achievements {
        flex-direction: column;
    }
    section#mission-achievements > div#mission > h2,
    section#mission-achievements > div#mission > div {
        inline-size: 100%;
    }
    section#mission-achievements > div#mission {
        gap: 30px;
    }
    section#mission-achievements > div#achievements {
        gap: 30px;
        padding-block-end: 0rem;
    }
    section#mission-achievements > div#achievements > div {
        display: flex;
        flex-direction: column;
        gap: 10px;
        inline-size: 100%;
    }



    /* re-styling the team-members section */
    section#team-members {
        padding-block: 3.125rem;
    }
    section#team-members > div#team-gallery {
        padding-block: 1.875rem 6.25rem;
    }
    section#team-members > div#team-gallery > div {
        inline-size: 45%;
    }
    section#team-members > div#careers {
        gap: 30px;
    }
    section#team-members > div#careers > h3,
    section#team-members > div#careers > div {
        inline-size: 100%;
    }
    section#team-members > div#careers > div > a {
        color: var(--primary-black);
    }


    /* re-styling the footer */
    footer {
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;
    }
    footer > div {
        flex-direction: row;
        flex-wrap: wrap;
    }
}


/* for mobile devices */
@media screen and ( max-width: 31.25rem ) {
    /* 
        changing the font scale in order to 
        ensure proper hierachy and scale in text
     */
    :root {
        font-size: 16px;
    }

    /* restyling the navbar for mobile */
    nav, main > div, section#mission-achievements,
    section#team-members > h2, section#team-members > div#team-gallery,
    section#team-members > div#careers, footer {
        max-inline-size: 90%;
    }
    nav > span {
        display: initial;
        font-size: 1.875rem;
    }
    nav > div#menu-ctn {
        display: none;
    }


    /* re-styling the hero section */
    main > div {
        gap: 20px;
    }
    main > div > h1, main > div > p {
        inline-size: 100%;
    }


    /* re-styling the mission/achievements section */
    section#mission-achievements > div#mission,
    section#mission-achievements > div#achievements {
        flex-direction: column;
    }
    section#mission-achievements > div#mission > h2,
    section#mission-achievements > div#mission > div {
        inline-size: 100%;
    }
    section#mission-achievements > div#mission {
        gap: 30px;
    }
    section#mission-achievements > div#achievements {
        gap: 30px;
        padding-block-end: 0rem;
    }
    section#mission-achievements > div#achievements > div {
        display: flex;
        flex-direction: column;
        gap: 10px;
        inline-size: 100%;
    }



    /* re-styling the team-members section */
    section#team-members {
        padding-block: 3.125rem;
    }
    section#team-members > div#team-gallery {
        padding-block: 1.875rem 6.25rem;
    }
    section#team-members > div#team-gallery > div {
        inline-size: 100%;
    }
    section#team-members > div#careers {
        gap: 30px;
    }
    section#team-members > div#careers > h3,
    section#team-members > div#careers > div {
        inline-size: 100%;
    }
    section#team-members > div#careers > div > a {
        color: var(--primary-black);
    }


    /* re-styling the footer */
    footer {
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;
    }
    footer > div {
        flex-direction: row;
        flex-wrap: wrap;
    }
}